<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin 
	name="Sapphire"
	id="edu.buffalo.cse.sapphire"
	version="1.1.0"
	provider-name="University at Buffalo">

	<extension point="org.eclipse.ui.startup">
		<startup />
	</extension>

   <extension
         point="org.eclipse.ui.views">

   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
   
   

   

</plugin>
