<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin >

	<extension point="org.eclipse.ui.startup">
		<startup />
	</extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="School Plugin"
            id="com.example.schoolplugin">
      </category>

   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
   
   

   

</plugin>
